version: '3.8'
services:
  rabbit:
    image: rabbitmq:3.11-management
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: on-failure

  mysql:
    image: mysql:latest
    container_name: mysql-brewery
    environment:
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - "3306:3306"
    volumes:
      - ./mysql-init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: on-failure

  eureka:
    build: eureka
    ports:
      - "8761:8761"
    restart: on-failure

  config-server:
    build: config-server
    ports:
      - "8888:8888"
    depends_on:
      - eureka
    environment:
      eureka.client.serviceUrl.defaultZone: http://eureka:8761/eureka
      eureka.instance.prefer-ip-address: true
    restart: on-failure

  inventory-service:
    build: inventory-service
    ports:
      - "8082:8082"
    depends_on:
      - eureka
      - config-server
      - mysql
      - rabbit
    environment:
      eureka.client.serviceUrl.defaultZone: http://eureka:8761/eureka
      eureka.instance.prefer-ip-address: true
      spring.cloud.config.uri: http://config-server:8888
      SPRING_PROFILES_ACTIVE: localmysql,local-discovery
      SPRING_ZIPKIN_BASEURL: http://zipkin
      spring.rabbitmq.host: rabbit
      DATABASE_HOST: mysql
    restart: on-failure

  beer-service:
    build: beer-service
    ports:
      - "8080:8080"
    depends_on:
      - eureka
      - rabbit
      - config-server
      - mysql
    environment:
      eureka.client.serviceUrl.defaultZone: http://eureka:8761/eureka
      eureka.instance.prefer-ip-address: true
      spring.cloud.config.uri: http://config-server:8888
      SPRING_PROFILES_ACTIVE: localmysql,local-discovery
      SPRING_ZIPKIN_BASEURL: http://zipkin
      spring.rabbitmq.host: rabbit
      DATABASE_HOST: mysql
    restart: on-failure

  order-service:
    build: order-service
    ports:
      - "8081:8081"
    depends_on:
      - eureka
      - rabbit
      - config-server
      - mysql
      - beer-service
      - inventory-service
    environment:
      eureka.client.serviceUrl.defaultZone: http://eureka:8761/eureka
      eureka.instance.prefer-ip-address: true
      spring.cloud.config.uri: http://config-server:8888
      spring.rabbitmq.host: rabbit
      SPRING_PROFILES_ACTIVE: localmysql,local-discovery
      SPRING_ZIPKIN_BASEURL: http://zipkin
      DATABASE_HOST: mysql
    restart: on-failure

  api-gateway:
    build: gateway
    ports:
      - "9090:9090"
    depends_on:
      - eureka
      - config-server
      - mysql
      - beer-service
      - order-service
      - inventory-service
    environment:
      eureka.client.serviceUrl.defaultZone: http://eureka:8761/eureka
      eureka.instance.prefer-ip-address: true
      SPRING_PROFILES_ACTIVE: local-discovery
    restart: on-failure
